#about {
	padding-block: 10rem;
	background-color: var(--black-gray);
	overflow: hidden;
}

#about .wrapper {
	display: flex;
	flex-direction: column;
	gap: 7rem;
}

#about .text {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
}

#about .swiperAbout {
	width: 100%;
	height: 100%;
}

#about .swiper-slide {
	height: auto;
	padding-inline: 0.8rem;
}

#about .swiperAbout .swiper-slide img {
	max-width: 50rem;
}

@media (min-width: 1024px) {
	#about .swiper-slide {
		padding-inline: 1rem;
	}

	#about .text {
		max-width: 1120px;
		margin-inline: auto;

		flex-direction: row;
		gap: 5.6rem;
	}
	#about .text .title {
		flex: 1;
	}
	#about .text p {
		flex: 2;
	}
}
