#footer {
	padding-block: 8rem;
	background-color: var(--brand-primary-dark);
}

#footer .text {
	margin-inline: auto;

	display: flex;
	flex-direction: column;
	text-align: left;
	gap: 2.4rem;

	max-width: var(--max-width);
}

#footer .text p {
	color: var(--black-light);
}
