form {
	width: 100%;
	height: auto;
	padding: 3.5rem 2rem;

	border-radius: 1rem;
	background: var(--black-gray);

	border: none;
	display: flex;
	flex-direction: column;
	gap: 3.2rem;

	box-shadow: 0 0px 15px -10px rgba(255, 217, 0, 0.548);
}

legend {
	text-align: left;
	font-weight: 700;
	font-size: var(--title-size-small);
	color: var(--brand-primary);

	display: flex;
	align-items: center;
	gap: 1.6rem;
}

legend img {
	width: 3rem;
}

fieldset {
	border: none;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

label {
	text-align: left;
	font-size: var(--paragraph-size-medium);
	line-height: 150%;
	color: var(--brand-primary-dark);
}

.name-surname {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

input {
	font-size: var(--title-size-tiny);
	color: var(--brand-primary);
}

.input-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.input-wrapper input {
	height: 3rem;
	width: 100%;
	padding: 1rem;

	background: var(--black-dark);

	border-radius: 3px;
	border: 1px solid var(--brand-primary-dark);
}

input:invalid,
select:invalid,
textarea:invalid {
	background: var(--black-dark);
	border: 1px solid rgba(245, 84, 84, 0.429);
}

textarea {
	width: 100%;
	height: 10rem;

	font-family: 'DM Sans', sans-serif;
	font-weight: 400;

	resize: none;
	background: var(--black-dark);

	border-radius: 0.8rem;
	border: 1px solid var(--brand-primary-dark);

	padding: 0.5rem 1rem;

	font-size: var(--title-size-tiny);
	line-height: 2.4rem;
	color: var(--brand-primary);
}

#button-submit {
	width: 100%;
	padding-block: 1rem;
	border: 1px solid rgba(255, 255, 255, 0);
	border-radius: 0.8rem;

	font-size: var(--paragraph-size-medium);
	line-height: 26px;

	color: var(--black-dark);
	background: var(--brand-primary-dark);

	transition: 0.3s all;
}

#button-submit:hover {
	cursor: pointer;
	background: var(--black-dark);
	color: var(--brand-primary-dark);
	border: 1px solid var(--brand-primary-dark);
}

.input-wrapper input:focus,
.input-wrapper textarea:focus {
	outline: 2px solid rgb(249, 252, 226);
}