#home {
	padding-top: 15rem;
}

#home .content,
#home .wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 6rem;
}

#home .content img {
	margin-inline: auto;
	max-width: 41rem;
}

#home .text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 3rem;
}

#home .text h1 {
	font-weight: 700;
	line-height: 130%;
	font-size: var(--title-size-large);
	color: var(--brand-primary);
}

#home .details {
	padding-block: 4rem;
	background: var(--black-light);
	border: 1px solid var(--brand-primary);
	border-radius: 0.6rem;

	display: flex;
	flex-direction: column;
	gap: 6rem;
}

#home .details p {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: var(--paragraph-size-small);
	color: var(--brand-primary-dark);
}

#home .details p span {
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 130%;
	color: var(--brand-primary);
}

@media (min-width: 700px) {
	#home .content {
		max-width: 60rem;
		margin-inline: auto;
	}
}

@media (min-width: 850px) {
	#home .details {
		flex-direction: row;
		justify-content: center;
		padding-block: 6rem;
	}

	#home .details p {
		flex: 1;
		padding-inline: 2rem;
	}
	#home .details p + p {
		border-left: 1px solid var(--brand-primary);
	}
}

@media (min-width: 1024px) {
	#home .content {
		max-width: none;
		align-items: center;
		flex-direction: row;
	}
	#home .text {
		max-width: 60rem;
		text-align: left;
		justify-content: flex-start;
	}
	#home .content .button {
		margin-left: 0;
	}
}
